**/*.o
**/*.la
**/*.lo
**/Makefile*.in
**/Makefile
**/.deps
**/.libs
/po/POTFILES
/po/*.gmo
/po/rawstudio.pot
/INSTALL
/autom4te.cache
/aclocal.m4
/compile
/config*
/depcomp
/install-sh
/libtool
/ltmain.sh
/librawstudio/rawstudio-2.1.pc
/m4
/src/rawstudio
/missing
/prefix
/stamp-h1
