[Desktop Entry]
Version=1.0
Type=Application
Categories=Application;Graphics;Photography;GTK;
Name=Rawstudio
Name[it]=Rawstudio
GenericName=Raw converter
GenericName[it]=Convertitore Raw
Comment=Open source raw-image converter and manipulation application
Comment[it]=Converte e manipola immagini raw
Exec=rawstudio %F
StartupNotify=true
Icon=rawstudio.png
MimeType=image/x-dcraw;

