[Desktop Entry]
Version=1.0
Type=Application
Categories=Graphics;Photography;GTK;
Name=Rawstudio
Name[de]=Rawstudio
Name[es]=Rawstudio
Name[it]=Rawstudio
Name[pl]=Rawstudio
Name[ru]=Rawstudio
Name[sv]=Rawstudio
GenericName=Raw image converter
GenericName[de]=Ein RAW Bildkonverter
GenericName[es]=Un convertidor de imágenes raw
GenericName[it]=Convertitore Raw
GenericName[pl]=Konwerter plików RAW
GenericName[ru]=Проявка цифровых негативов
GenericName[sv]=Bildkonverterare
Comment=Read, manipulate and convert digital camera raw-images
Comment[de]=Lesen, manipulieren und konvertieren die Bilder der Digitalkamera
Comment[es]=Leído, manipule y convierta las raw imágenes digitales de la cámara fotográfica
Comment[it]=Converte e manipola immagini raw
Comment[pl]=Program Open Source do konwersji plików RAW i manipulacji na nich
Comment[ru]=Свободная программа для проявки цифровых негативов
Comment[sv]=Läs, bearbeta och konvertera råbilder från digitalkameror
Exec=env LIBOVERLAY_SCROLLBAR=0 rawstudio %F
StartupNotify=true
Icon=rawstudio
MimeType=image/x-dcraw;

