Source: rawstudio
Section: graphics
Priority: optional
Maintainer: Soren Hansen <sh@warma.dk>
Build-Depends: debhelper (>= 4.0.0), libgtk2.0-dev, libgconf2-dev, libxml2-dev
Standards-Version: 3.6.1

Package: rawstudio
Architecture: any
Depends: ${shlibs:Depends}
Description: Rawstudio is an open source raw-image converter
 Rawstudio is an open source raw-image converter written in GTK+.
 .
 Features:
  *  Reads all dcraw supported formats
  * Internal 16bit rgb
  * Various post-shot controls (hue, saturation and exposure compensation among others)
  * Realtime histogram
