* {
	color: rgb(70%, 70%, 70%);
	background-color: rgb(40%, 40%, 40%);
	border: 0px;
}

GtkLabel {
	color: rgb(70%, 70%, 70%);
	background: none;
}

.scale {
	background-image: linear-gradient(to right, #404040, #455545);
	background-color: rgb(60%, 60%, 60%);
	color: rgb(70%, 70%, 0%);
}

 .scale.slider {
	border-color: #1c1f1f;
	background-image: none;
	background-color: #777;
	border: 1px solid;
	border-radius: 50%;
	border-color: #666;
	border-style: outset;
}

GtkButton {
	background-image: none;
	background-color: rgb(80%, 80%, 80%);
	color: rgb(99%, 00%, 00%);
	border-radius: 4px;
	border: 1px;
	border-style: outset;
	border-color: grey;
	padding: 3px;
}

*:hover {
	background-color: rgb(85%, 85%, 85%);
	color: rgb(40%, 40%, 40%);
}

*:active {
	color: rgb(57%, 87%, 57%);
	background-color: rgb(42%, 37%, 37%);
}
